@import '../../styles/mixins';
@import '../../styles/vars';

.card {
  border-radius: 16px;
  padding: 23px;
  padding-bottom: 40px;
  height: 35%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: $grey;
  position: relative;
  font-weight: 700;
}
.card__title {
  color: $green;
  letter-spacing: 4px;
  font-size: 14px;
}
.card__advice {
  color: $light-grey;
  font-size: 28px;
  padding-left: 25px;
  padding-right: 25px;
}
.card__dice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__circle {
  display: block;
  background: $green;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}